/* 
Pam Kelly's CSS for JavaScript Trivia Game
*/

* {
    box-sizing: border-box;
  }

body {
	background-image: url(../images/cool-background-pictures-0hfd8wxv.jpg);
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	color:#032f7d;
	font-size: large;
}

.container {
	padding: 5% 3%;
	background-color: white;
	width: 65%;
	margin: 0 auto;
	height: 100%;
}

header {
	text-align: center;
}

header h1{
	color: #17a1b7;
	font-family: 'Abril Fatface', cursive;
}

#show-number{
	color: red;
	font-weight: 400;
}

#message {
	text-align: center;
}

#stats {
	color: darkgray;
}

#right {
	color: green;
	font-weight: 800;
}
#wrong {
	color: red;
	font-weight: 800;
}
#unanswered {
	color: purple;
	font-weight: 800;
}

footer {
	position: fixed;
	background-color: #000000;
	color: white;
	text-align: center;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: .5em;
	font-size: small;
}